.padre{
    flex-direction: row;
     display: flex;

    /*margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;*/
    /* max-width: 1000px;  */
}
.padre h1{
    /* margin: 10px; */
}
@media (max-width: 600px) {
    .padre {
        flex: 1 1 100%; /* en pantallas pequeñas, cada elemento ocupa el 100% */
        flex-direction: column;
    }
}
.todocard{
    display: grid;
    grid-template-columns: repeat(3, 0.6fr);
    flex: 0 0 80%;
    /* gap: 5px; */
}
@media (max-width: 600px) {
    .todocard {
        grid-template-columns: auto;
    }
    .todocard > div {
        text-align: center;
    }
}
.todocard > div {
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin relleno */
    box-sizing: border-box;
    /* background-color: lightgray; */
    /* text-align: center; */
    /* border: 1px solid black; Para visualizar los bordes */
}
.card p{

}
.card .imgpostre{
    width: 90%;
    border-radius: 0.5rem;
    /* display: block; */
    /* margin: 0 auto; */
}
.card .addcart{
    width: 70%;
    display: block;
    margin: 0 auto;
    position: relative;
    /* bottom: 20px; */
}
.cart .pastel{
    align-items: center;
    align-content: center;
}
.cart .addcart .imgcart img{
    width: 10%;
}
.card button{
    background-color: white;
    border-radius: 2rem;
    width: auto;
    padding-left: 30px;
    position: absolute;
    padding-right: 30px;
    top: -24px;
    left: 0%;
    font-size: 0.7rem;
    display: flex;
    /* align-items: center; */
    align-content: center;
    border: 1px solid hsl(14, 86%, 42%);
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    height: 2.5rem;
}
@media (max-width: 600px) {
    .card button{
        left: 17%;
    }
}
.card button p{
    color: black;
    font-weight: bold;
    
}
.card .textocontenedor{
    /* margin-top: 2.5rem; */
    /* margin-bottom: 2.5rem; */
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart{
    flex: 0 0 25%;
    background-color: white;
    border-radius: 0.4rem;
    height: 100%;
    padding: 1.5rem;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    .cart{
        margin: 0 auto;
    }
}

.cart ul{
    list-style: none;
    padding-left: 0px;
}
.cart li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid hsl(14, 25%, 72%);
    margin-bottom: 30px;
}
.cart .productModal{
    
}
.cart h2{
    /* margin: 1.5rem; */
}

.cart p{
    margin: 0;
    font-size: 0.9rem;
}

.cart .product{
    
}
.cart img{

}

.cart .confirm{
    width: 100%;
    border-radius: 2rem;
    background-color: hsl(14, 86%, 42%);
}